# Fraud Detection with Deep Learning

### Author: Akalu Abraham

This project focuses on detecting fraudulent transactions using deep learning. It includes steps for data exploration, preprocessing, and building a robust deep learning model to identify fraud. 

Letâ€™s dive into the details and make transactions safer!
---

Install Requirements

In [1]:
pip install https://github.com/pandas-profiling/pandas-profiling/archive/master.zip

Note: you may need to restart the kernel to use updated packages.

c:\Users\user\AppData\Local\Programs\Python\Python312\python.exe: No module named pip

In [4]:
from helper_functions import plot_loss_curves, make_confusion_matrix

ModuleNotFoundError: No module named 'helper_functions'

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
%matplotlib inline

In [5]:
df = pd.read_csv('samp_online.csv')

In [6]:
df.head()

,step,type,amount,nameOrig,oldbalanceOrg,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud,isFlaggedFraud
0,1,PAYMENT,9839.64,C1231006815,170136,160296.36,M1979787155,0,0.00,0,0
1,1,TRANSFER,181.00,C1305486145,181,0.00,C553264065,0,0.00,1,0
2,1,CASH_OUT,181.00,C840083671,181,0.00,C38997010,21182,0.00,1,0
3,1,DEBIT,5337.77,C712410124,41720,36382.23,C195600860,41898,40348.79,0,0
4,1,CASH_OUT,229133.94,C905080434,15325,0.00,C476402209,5083,51513.44,0,0

In [9]:
from pandas_profiling import ProfileReport
profile = ProfileReport(df, explorative=True)
profile.to_notebook_iframe()

ModuleNotFoundError: No module named 'pandas_profiling'